<div class="container">
  <div class="board">
    <app-square *ngFor="let square of board; let id = index" [ngClass]="{cross: board[id] == 'X', zero: board[id] == 'O'}" (onClick)="moveOn($event)" [idx]="id" [value]="board[id]"></app-square>
    <div class="board__horizontal-line"></div>
    <div class="board__vertical-line"></div>
    <div class="board__diagonal-line"></div>
  </div>
  <app-score [players]="players"></app-score>
</div>
<app-game-over-message *ngIf="winner || draw" [text]="gameOverMessage" (gameStart)="newGame()"></app-game-over-message>