/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  color: #fff;
  background-color: #545F7D;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.btn {
  font-size: 12px;
  font-family: sans-serif;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.container {
  display: flex;
  flex-flow: wrap;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}