.winner {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background-color: rgba(0, 0, 0, .5);
}

.winner__message {
  display: inline-block;
  margin-top: 0;
  font-size: 40px;
  font-family: sans-serif;
}